.about-us__text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.about-us__text:first-of-type {
  margin-bottom: 30px; }

.about-us__text:last-of-type {
  margin-bottom: 70px; }

.about-us {
  grid-column: 1 / 2;
  position: relative; }

.about-us__title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900; }

.about-us::before {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  height: 7px;
  width: 80px;
  background-color: #000000; }

.about-us__details {
  width: 260px; }
