.card__image {
  background-color: #f7e296;
  width: 160px;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px; }

.card:nth-of-type(2) .card__image {
  align-items: flex-end; }

.card:nth-of-type(3) svg,
.card:nth-of-type(5) svg {
  position: absolute;
  left: 50%;
  transform: translateX(-45%); }

.card__image:hover {
  background-color: #f0c52e; }

.card:active svg {
  opacity: 0.3; }

.card {
  width: 160px;
  position: relative; }

.card__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #000000;
  width: 160px; }

.card:active .card__link {
  opacity: 0.3; }
