.catalog__sorting {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 140px;
  margin-bottom: 70px; }

.catalog__title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0; }

.catalog__link {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  margin-right: 25px; }

.catalog__link[href] {
  opacity: 0.3; }

.catalog__sorting-list {
  list-style: none;
  display: flex; }

.catalog__controls {
  margin-left: auto; }
