.categories__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #000000; }

.categories {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto; }
