@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("ttf"); }

img {
  width: 100%;
  height: auto; }

*,
*::before,
*::after {
  box-sizing: border-box; }
