.in-depth {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  text-align: center;
  vertical-align: bottom;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 15px, #f0c52e 15px, #f0c52e 23px, transparent 23px, transparent 40px); }

.in-depth:hover {
  background: #f0c52e;
  transition: all 0.1s; }

.in-depth:active {
  opacity: 30%;
  color: rgba(0, 0, 0, 0.3); }
