.map {
  width: 560px;
  height: 222px;
  margin-bottom: 76px; }

.map__big {
  position: absolute;
  top: 0px;
  left: -550px;
  width: 960px;
  height: 559px; }

.map__big-close {
  position: absolute;
  top: 22px;
  right: 22px; }
