.page-footer {
  background-color: #464646; }

.page-footer__address,
.page-footer__tel {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.social__item:hover {
  opacity: 0.3; }
