.page-body__wrapper--catalog {
  display: grid;
  width: 1440px;
  margin: 0 auto; }

.page-body__wrapper--index {
  display: grid;
  grid-template-rows: 188px 128px 2138px 328px;
  width: 1440px;
  margin: 0 auto; }

.page-body {
  margin: 0; }
