.product-search {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 50px; }

.product-search__submit {
  display: block;
  width: 85px;
  height: 49px;
  background: transparent;
  border: 2px solid #000000;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.15px;
  position: absolute;
  right: -0px;
  top: -16px;
  display: none; }

.product-search__form {
  position: relative; }

.product-search__goods-list {
  display: none;
  width: 100%;
  background-color: #f7e296;
  padding: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-height: 140px;
  width: 1160px;
  margin: 0; }

.product-search__goods-list--catalog {
  top: 90%;
  left: -40px;
  padding-left: 40px; }

.product-search__goods {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  text-transform: uppercase;
  margin: 36px 0 60px 0;
  letter-spacing: 3.6px; }

.product-search__goods:hover {
  opacity: 0.6; }

.product-search__goods:active {
  opacity: 0.3; }

.product-search__goods:hover ~ .product-search__goods-list {
  display: grid;
  grid-row: 2 / 3;
  z-index: 5; }

.product-search__menu:checked ~ .product-search__goods-list {
  display: grid;
  grid-row: 2 / 3;
  z-index: 5; }

.product-search__goods::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 3px;
  left: 226px;
  background: url("../img/plus.svg");
  background-size: cover;
  opacity: 0.3; }

.product-search__site-search {
  padding-left: 35px; }

.product-search__site-search:focus ~ .product-search__submit {
  display: block; }

.product-search__submit:hover {
  background-color: #000000;
  color: #ffffff;
  display: block; }

.product-search__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  display: block; }

.product-search__site-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.product-search__site-search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6); }

.product-search__site-search-label {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 8px;
  left: 0px; }

.product-search__menu {
  display: none; }
