.product-search {
  display: flex;
  flex-direction: column;
  position: relative; }

.product-search__goods-list {
  display: none;
  width: 100%;
  background-color: #f7e296; }

.product-search__goods {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.product-search__goods:hover ~ .product-search__goods-list {
  display: grid;
  grid-row: 2 / 3;
  z-index: 2; }

.product-search__goods::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 20%;
  right: -20px;
  background: url("../img/plus.svg");
  background-size: cover; }

.product-search__goods-input:checked ~ .product-search__goods-list {
  display: block; }

.product-search__site-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.product-search__site-search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6); }

.product-search__site-search-label {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: -30px;
  left: -30px; }
