.slider__item-pic {
  width: 384px;
  height: 486px; }

.slider__item-description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #464646; }

.slider__item-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  line-height: 56px; }

.slider__item {
  display: none; }

.slider__item--active {
  display: block; }
