.slider__item-pic {
  grid-column: 1 / 2;
  margin: auto auto; }

.slider__item-pic--copter {
  width: 526px;
  height: 334px; }

.slider__item-pic--selfie {
  width: 384px;
  height: 486px; }

.slider__item-pic--fitness {
  width: 345px;
  height: 485px; }

.slider__item-image {
  top: 50%;
  transform: translateY(-50%);
  position: relative; }

.slider__item-description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #464646;
  min-height: 100px; }

.slider__item-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  line-height: 56px;
  min-height: 120px; }

.slider__item {
  display: none;
  grid-template-columns: 580px 580px; }

.slider__item--active {
  display: grid; }

.slider__info {
  grid-column: 2 / 3;
  padding: 85px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 80px;
  position: relative; }

.slider__item-table {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans";
  font-weight: 300; }

.slider {
  position: relative; }

.slider__info::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100px;
  height: 7px;
  background: #ffffff; }

.slider__item::before {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 179px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #ffffff; }

.slider__item--first::before {
  content: "01"; }

.slider__item--second::before {
  content: "02"; }

.slider__item--third::before {
  content: "03"; }

.slider__item-header {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 300; }
