.slider__item-pic {
  width: 384px;
  height: 486px;
  grid-column: 1 / 2; }

.slider__item-description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #464646; }

.slider__item-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  line-height: 56px; }

.slider__item {
  display: none;
  grid-template-columns: 600px 600px; }

.slider__item--active {
  display: grid; }

.slider__info {
  grid-column: 2 / 3; }
