@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("ttf"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy Light"), local("Girloy-Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("ttf"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("ttf"); }

img {
  width: 100%;
  height: auto; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.page-header {
  background-color: #f7e296;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-weight: 900;
  letter-spacing: 2px; }

.slider__item-pic {
  width: 384px;
  height: 486px; }

.slider__item-description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #464646; }

.slider__item-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  line-height: 56px; }

.page-footer {
  background-color: #464646; }

.page-footer__address,
.page-footer__tel {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.social__item:hover {
  opacity: 0.3; }

.features {
  background-color: #e5e5e5; }

.features__text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.card {
  background-color: #f7e296; }

.product__pic {
  width: 360px;
  height: 380px; }

.product__name {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.product__price {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 300; }

.product__compare {
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans";
  font-weight: 300; }

.filter {
  background-color: #efefef; }

.filter__title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px; }

.filter__type {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.filter__label {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans";
  font-weight: 300; }

.filter__bluetooth-label {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans";
  font-weight: 300; }

.catalog__sorting {
  background-color: #ebebeb; }

.catalog__title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase; }

.catalog__link {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  text-decoration: none;
  color: #000000; }

.catalog__link[href] {
  opacity: 0.3; }

.pagination {
  background-color: #ebebeb; }

.pagination__direction {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.pagination__link {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.pagination__link[href] {
  opacity: 0.3;
  text-decoration: none;
  color: #000000; }

.pagination__list {
  list-style: none; }

.categories__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #000000; }

.main-nav {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: normal; }

.about-us__text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.contacts__welcome {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.contacts__label {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.contacts__form placeholder {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400; }

.contacts__message {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400; }

.search__goods,
.search__goods-list {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.features-nav {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.delivery-list {
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy";
  font-weight: 900; }

.in-depth {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #000000;
  text-decoration: none;
  letter-spacing: 2px; }

.logo {
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900; }

.logo--footer {
  color: #ffc600; }

.site-search {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.info__title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900; }

.info__breadcrumbs {
  list-style: none; }

.info__link {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #cacaca;
  text-decoration: none; }
