@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  font-style: normal;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("ttf"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy Light"), local("Girloy-Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("ttf"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("ttf"); }

img {
  width: 100%;
  height: auto; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.page-header {
  background-color: #f7e296;
  font-family: "Gilroy", "Helvetica", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-around;
  margin: 18px 140px 0px;
  padding-top: 50px;
  position: relative; }

.page-header__logo {
  position: absolute;
  top: -20px;
  left: 40px; }

.page-header--index {
  grid-row: 1 / 3;
  grid-column: 1 / 2; }

.slider__item-pic {
  grid-column: 1 / 2;
  margin: auto auto; }

.slider__item-pic--copter {
  width: 526px;
  height: 334px; }

.slider__item-pic--selfie {
  width: 384px;
  height: 486px; }

.slider__item-pic--fitness {
  width: 345px;
  height: 485px; }

.slider__item-image {
  top: 50%;
  transform: translateY(-50%);
  position: relative; }

.slider__item-description {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #464646;
  min-height: 100px; }

.slider__item-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  line-height: 56px;
  min-height: 120px; }

.slider__item {
  display: none;
  grid-template-columns: 580px 580px; }

.slider__item--active {
  display: grid; }

.slider__info {
  grid-column: 2 / 3;
  padding: 85px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 80px;
  position: relative; }

.slider__item-table {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans";
  font-weight: 300; }

.slider {
  position: relative; }

.slider__info::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100px;
  height: 7px;
  background: #ffffff; }

.slider__item::before {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 179px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #ffffff; }

.slider__item--first::before {
  content: "01"; }

.slider__item--second::before {
  content: "02"; }

.slider__item--third::before {
  content: "03"; }

.slider__item-header {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 300; }

.features {
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
  min-width: 400px;
  display: grid;
  grid-template-columns: 280px 880px;
  grid-template-rows: 40px 40px 40px;
  grid-row-gap: 20px;
  padding-top: 80px;
  padding-left: 140px; }

.features__text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  width: 480px; }

.features__description {
  display: none;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  margin-right: 140px;
  margin-left: 80px;
  padding-left: 60px;
  flex-direction: column;
  align-items: flex-start;
  position: relative; }

.features__description-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  margin-top: 0; }

.features__item-label--delivery {
  grid-row: 1 / 2;
  grid-column: 1 / 2; }

.features__item-label--warranty {
  grid-row: 2 / 3;
  grid-column: 1 / 2; }

.features__item-label--credit {
  grid-row: 3 / 4;
  grid-column: 1 / 2; }

.features__item-input {
  display: none; }

.features__item-input:checked + .features__description {
  display: flex; }

.features__item-input--delivery:active ~ .features__item-label--delivery {
  background: #000000;
  color: #f7e184;
  width: 360px;
  padding-right: 140px; }

.features__item-input--warranty:active ~ .features__item-label--warranty {
  background: #000000;
  color: #f7e184;
  width: 360px;
  padding-right: 140px; }

.features__item-input--credit:active ~ .features__item-label--credit {
  background: #000000;
  color: #f7e184;
  width: 360px;
  padding-right: 140px; }

.features__description::after {
  position: absolute;
  content: "";
  right: -132px;
  bottom: -40px;
  width: 171px;
  height: 194px; }

.features__description--delivery::after {
  background: url("../img/delivery.svg") 0 0 no-repeat; }

.features__description--warranty::after {
  background: url("../img/warranty.svg") 0 0 no-repeat; }

.features__description--credit::after {
  background: url("../img/credit.svg") 0 0 no-repeat; }

.features__description::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  background: #000000;
  left: 0;
  top: -50%; }

.card__image {
  background-color: #f7e296;
  width: 160px;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px; }

.card__image:hover {
  background-color: #f0c52e; }

.card:active svg {
  opacity: 0.3; }

.card {
  width: 160px; }

.card__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #000000;
  width: 160px; }

.card:active .card__link {
  opacity: 0.3; }

.product__pic {
  width: 360px;
  height: 380px;
  margin: 0 auto 35px; }

.product__name {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  width: 225px; }

.product__price {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 300; }

.product__compare {
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans";
  font-weight: 300; }

.products {
  display: grid;
  grid-template-columns: 400px 400px;
  margin-left: 50px; }

.product:nth-child(even) {
  grid-column: 2 / 3; }

.product__to-cart {
  display: none;
  position: absolute;
  top: 33.333333%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }

.product__link,
.product__compare {
  color: #000000;
  text-decoration: none; }

.product__compare {
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.13px;
  opacity: 0.5; }

.product__compare:hover {
  opacity: 1; }

.product__compare:active {
  opacity: 0.2; }

.product__description {
  margin: 0 20px 0;
  display: flex;
  justify-content: space-between; }

.product {
  margin-bottom: 50px;
  position: relative; }

.product__pic:hover > .product__image {
  opacity: 0.7; }

.product__pic:hover > .product__to-cart {
  opacity: 1;
  display: block; }

.filter {
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #efefef 70px);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.filter__title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 23px 0;
  margin: 0 0 69px 0; }

.filter__type {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  margin: 16px 0 36px 0; }

.filter__label {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans";
  font-weight: 300;
  position: relative;
  padding-left: 40px; }

.filter__label::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0px;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") 0 0 no-repeat; }

.filter__color:hover + .filter__label::before {
  opacity: 0.6; }

.filter__color:active + .filter__label::before {
  background: url("../img/checkbox-on.svg") 0 0 no-repeat;
  opacity: 1; }

.filter__color:checked + .filter__label::before {
  background: url("../img/checkbox-on.svg") 0 0 no-repeat; }

.filter__color:checked:hover + .filter__label::before {
  opacity: 0.6; }

.filter__color:checked:active + .filter__label::before {
  background: url("../img/checkbox-off.svg") 0 0 no-repeat;
  opacity: 1; }

.filter__bluetooth-label {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans";
  font-weight: 300;
  position: relative;
  padding-left: 40px; }

.filter__color-block {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #000000;
  margin-bottom: 41px; }

.filter__color {
  display: none; }

.filter__bluetooth-block {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-top: 2px solid #000000;
  margin-bottom: 55px; }

.filter__bluetooth {
  display: none; }

.filter__bluetooth-label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25%;
  left: -0px;
  background: url("../img/radio-off.svg") 0 0 no-repeat; }

.filter__bluetooth:hover + .filter__bluetooth-label::before {
  opacity: 0.6; }

.filter__bluetooth:active + .filter__bluetooth-label::before {
  background: url("../img/radio-on.svg") 0 0 no-repeat;
  opacity: 1; }

.filter__bluetooth:checked + .filter__bluetooth-label::before {
  background: url("../img/radio-on.svg") 0 0 no-repeat; }

.filter__bluetooth:checked:hover + .filter__bluetooth-label::before {
  opacity: 0.6; }

.filter__bluetooth:checked:active + .filter__bluetooth-label::before {
  background: url("../img/radio-off.svg") 0 0 no-repeat;
  opacity: 1; }

.filter__price-block {
  border-top: 2px solid #000000; }

.filter__container {
  width: 201px;
  margin-left: 180px; }

.filter__range {
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  margin-bottom: 67px;
  position: relative; }

.filter__range-line {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
  position: relative; }

.filter__range-first {
  background: url("../img/filter-button.svg") 0 0 no-repeat;
  width: 20px;
  height: 22px;
  position: absolute;
  left: -4px;
  top: -11px; }

.filter__range-second {
  background: url("../img/filter-button.svg") 0 0 no-repeat;
  width: 20px;
  height: 22px;
  position: absolute;
  left: 55%;
  top: -11px; }

.filter__range-first:hover,
.filter__range-second:hover {
  transform: scale(1.1); }

.catalog__sorting {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 140px;
  margin-bottom: 70px; }

.catalog__title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 23px 0; }

.catalog__link {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  margin-right: 25px; }

.catalog__link {
  opacity: 0.3; }

.catalog__link[href]:hover {
  opacity: 0.6; }

.catalog__link[href]:active {
  opacity: 1; }

.catalog__link--active {
  opacity: 1; }

.catalog__sorting-list {
  list-style: none;
  display: flex; }

.catalog__controls {
  margin-left: auto;
  display: flex; }

.catalog__direction {
  margin-left: 19px;
  opacity: 0.2; }

.catalog__direction[href]:hover {
  opacity: 0.4; }

.catalog__direction:active {
  opacity: 1; }

.catalog__direction--active {
  opacity: 1; }

.catalog__direction--up {
  width: 11px;
  height: 10px;
  background: url("../img/icon-up-dir.svg") 0 0 no-repeat; }

.catalog__direction--down {
  width: 11px;
  height: 10px;
  background: url("../img/icon-down-dir.svg") 0 0 no-repeat; }

.pagination {
  background-color: #ebebeb;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 0 20px 77px 20px; }

.pagination__direction {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  letter-spacing: 4px;
  display: block;
  padding: 30px; }

.pagination__direction:hover {
  background-color: #d8d8d8; }

.pagination__direction:active > * {
  opacity: 0.3; }

.pagination__link {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.pagination__link[href] {
  opacity: 0.3;
  text-decoration: none;
  color: #000000; }

.pagination__link[href]:hover {
  opacity: 0.6; }

.pagination__link[href]:active {
  opacity: 1; }

.pagination__list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.pagination__number {
  margin: 0 15px; }

.categories {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto; }

.main-nav {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: normal;
  width: 100%;
  display: flex;
  flex-direction: column; }

.main-nav__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.15px; }

.main-nav__item:nth-last-of-type(2) {
  margin-left: auto; }

.main-nav__link {
  text-decoration: none;
  color: #000000;
  position: relative; }

.main-nav__link--footer {
  color: #ffffff; }

.main-nav__link::before {
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: -26px;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px; }

.main-nav__link--person::before {
  background-image: url("../img/user.svg"); }

.main-nav__link--enter::before {
  background-image: url("../img/user.svg"); }

.main-nav__link--compare::before {
  background-image: url("../img/compare.svg"); }

.main-nav__link--cart::before {
  background-image: url("../img/cart.svg"); }

.main-nav__link--person-footer::before {
  background-image: url("../img/user-footer.svg"); }

.main-nav__link--enter-footer::before {
  background-image: url("../img/user-footer.svg"); }

.main-nav__link--compare-footer::before {
  background-image: url("../img/compare-footer.svg"); }

.main-nav__link--cart-footer::before {
  background-image: url("../img/cart-footer.svg"); }

.main-nav__link:hover,
.main-nav__link:hover::before {
  opacity: 0.6; }

.main-nav__link:active {
  opacity: 0.3; }

.main-nav__item {
  padding-left: 25px;
  width: 135px;
  text-align: left; }

.main-nav__item:last-of-type {
  text-align: right; }

.page-footer {
  background-color: #464646;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 65px 140px;
  color: #ffffff; }

.page-footer__address,
.page-footer__tel {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.social__item:hover {
  opacity: 0.3; }

.page-footer__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px; }

.page-footer__logo {
  position: absolute;
  top: 64px;
  left: 140px; }

.page-footer__main-nav {
  width: 640px;
  padding-left: 160px;
  align-self: flex-end;
  margin-bottom: 50px; }

.page-footer__connections {
  display: flex;
  align-self: flex-end;
  width: 660px;
  justify-content: space-between;
  align-items: center; }

.page-footer--index {
  grid-row: -1 / -2; }

.page-footer__academy:hover svg {
  opacity: 0.6; }

.page-footer__academy:active svg {
  opacity: 0.3; }

.page-footer::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  bottom: 79px;
  left: 140px; }

.about-us__text {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.about-us__text:last-of-type {
  margin-bottom: 70px; }

.about-us {
  grid-column: 1 / 2;
  position: relative; }

.about-us__title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900; }

.about-us::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 7px;
  width: 80px;
  background-color: #000000; }

.contacts__welcome {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  margin-bottom: 40px; }

.contacts__label {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  margin-bottom: 13px; }

.contacts__message,
.contacts__email,
.contacts__name {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #464646;
  border: 3px solid transparent; }

.contacts__message:focus,
.contacts__email:focus,
.contacts__name:focus {
  border: 3px solid #f0c52e;
  outline: none;
  background: #ffffff; }

.contacts__form input::placeholder {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  color: #464646;
  opacity: 0.4; }

.contacts__message {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400; }

.contacts {
  grid-column: 2 / 3;
  position: relative; }

.contacts__title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900; }

.contacts__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: -500px;
  left: -500px;
  width: 960px;
  min-height: 585px;
  padding: 100px;
  background: #ffffff; }

.contacts__name-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px; }

.contacts__name,
.contacts__email {
  width: 100%;
  height: 50px;
  padding: 20px;
  background: #f2f2f2;
  border: none; }

.contacts__email-block {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.contacts__message-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.contacts__message {
  border: 3px solid transparent;
  background: #f2f2f2;
  width: 760px;
  min-height: 156px; }

.contacts__modal-close {
  position: absolute;
  top: 22px;
  right: 22px; }

.contacts__form input:invalid {
  background-color: rgba(237, 181, 181, 0.5); }

.contacts::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 7px;
  width: 80px;
  background-color: #000000; }

.search__goods,
.search__goods-list {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900; }

.features-nav {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  width: 100%; }

.features-nav--header {
  margin: 40px 0 60px 0; }

.features-nav--footer {
  width: 430px;
  align-self: center; }

.features-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-transform: uppercase; }

.features-nav__item--contacts {
  margin-left: 112px; }

.features-nav__link {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.6px; }

.features-nav__link:hover {
  opacity: 0.6; }

.features-nav__link:active {
  opacity: 0.3; }

.features-nav__link--footer {
  color: #ffffff; }

.delivery-list {
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy";
  font-weight: 900;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 76px; }

.delivery-list__item {
  position: relative; }

.delivery-list__item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  border-radius: 50px; }

.in-depth {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #000000;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  text-align: center;
  vertical-align: bottom;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 15px, #f0c52e 15px, #f0c52e 25px, transparent 25px, transparent 40px); }

.in-depth:hover {
  background: #f0c52e;
  transition: all 0.1s; }

.in-depth:active {
  opacity: 30%;
  color: rgba(0, 0, 0, 0.3); }

.logo {
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  text-transform: uppercase; }

.logo--footer {
  color: #ffc600; }

.logo:hover {
  opacity: 0.6; }

.logo:active {
  opacity: 0.3; }

.site-search {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  border: none;
  outline: none;
  background: #f7e296;
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  width: 440px;
  border-bottom: 2px solid transparent; }

.site-search:hover {
  color: rgba(0, 0, 0, 0.6); }

.site-search:focus {
  color: #000000;
  border-bottom: 2px solid #000000; }

.info__title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900; }

.info__breadcrumbs {
  list-style: none;
  display: flex;
  padding: 0; }

.info__link {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  opacity: 0.3; }

.info__link:hover {
  opacity: 0.6; }

.info__link:acitve {
  opacity: 0.1; }

.info {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin-left: 180px; }

.info__item {
  margin-right: 40px;
  position: relative; }

.info__item:not(:last-of-type)::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  top: 9px;
  right: -20px;
  background: url("../img/nav-arrow.svg") 0 0 no-repeat; }

symbol {
  display: none; }

.product-search {
  display: flex;
  flex-direction: column;
  position: relative; }

.product-search__submit {
  display: block;
  width: 85px;
  height: 49px;
  background: transparent;
  border: 2px solid #000000;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.15px;
  position: absolute;
  right: -0px;
  top: -16px;
  display: none; }

.product-search__form {
  position: relative; }

.product-search__goods-list {
  display: none;
  width: 100%;
  background-color: #f7e296;
  padding: 0;
  position: absolute;
  top: 85px;
  left: 0;
  min-height: 130px;
  width: 1160px; }

.product-search__goods-list--catalog {
  top: 90%;
  left: -40px;
  padding-left: 40px; }

.product-search__goods {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  text-transform: uppercase;
  margin: 40px 0 60px 0; }

.product-search__goods:hover {
  opacity: 0.6; }

.product-search__goods:active {
  opacity: 0.3; }

.product-search__goods:hover ~ .product-search__goods-list {
  display: grid;
  grid-row: 2 / 3;
  z-index: 5; }

.product-search__menu:checked ~ .product-search__goods-list {
  display: grid;
  grid-row: 2 / 3;
  z-index: 5; }

.product-search__goods::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 3px;
  left: 200px;
  background: url("../img/plus.svg");
  background-size: cover; }

.product-search__site-search {
  padding-left: 35px; }

.product-search__site-search:focus ~ .product-search__submit {
  display: block; }

.product-search__submit:hover {
  background-color: #000000;
  color: #ffffff;
  display: block; }

.product-search__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  display: block; }

.product-search__site-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300; }

.product-search__site-search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6); }

.product-search__site-search-label {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 8px;
  left: 0px; }

.product-search__menu {
  display: none; }

.page-body__wrapper--catalog {
  display: grid;
  width: 1440px;
  margin: 0 auto; }

.page-body__wrapper--index {
  display: grid;
  grid-template-rows: 180px 120px 2130px 320px;
  width: 1440px;
  margin: 0 auto; }

.page-main--index {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  grid-template-rows: 600px 330px 390px 290px 660px; }

.page-main__sliders {
  margin: 0 140px;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1120px; }

.page-main {
  display: grid; }

.page-main--catalog {
  display: grid;
  grid-template-columns: 465px 975px; }

.page-main__categories {
  grid-row: 2 / 3; }

.page-main__features {
  grid-row: 3 / 4; }

.page-main__manufacturers {
  grid-row: 4 / 5;
  margin: 0 140px; }

.page-main__about {
  grid-row: 5 / 6;
  margin: 0 140px; }

.goods-list {
  list-style: none;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 15px 15px 15px;
  grid-row-gap: 20px; }

.goods-list__link {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 0.15px; }

.goods-list__link:hover {
  opacity: 0.6; }

.goods-list__link:active {
  opacity: 0.3; }

.goods-list__good {
  height: 15px;
  width: 200px; }

.goods-list__good:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.goods-list__good:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.goods-list__good:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.goods-list__good:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.goods-list__good:nth-of-type(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.goods-list__good:nth-of-type(6) {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.navigation {
  display: flex;
  flex-direction: column;
  width: 560px; }

.social__list {
  list-style: none;
  display: flex;
  width: 160px;
  justify-content: space-around;
  padding: 0;
  margin: 0; }

.social__item {
  opacity: 0.3; }

.social__item:hover {
  opacity: 0.6; }

.social__item:active {
  opacity: 0.1; }

.about {
  display: grid;
  grid-template-columns: 560px 560px;
  grid-column-gap: 80px; }

.manufacturers__pic {
  width: 260px;
  height: 100px; }

.manufacturers__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0; }

.manufacturers__img {
  filter: grayscale(100%);
  opacity: 0.3; }

.manufacturers__img:hover {
  filter: grayscale(0%);
  opacity: 1; }

.toggles__toggle {
  display: none; }

.toggles__toggle-label {
  z-index: 2;
  top: 395px; }

.toggles__toggle-label:nth-of-type(1) {
  position: absolute;
  right: 125px;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%; }

.toggles__toggle-label:nth-of-type(2) {
  position: absolute;
  right: 105px;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%; }

.toggles__toggle-label:nth-of-type(3) {
  position: absolute;
  right: 85px;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%; }

.toggles__toggle:checked + .toggles__toggle-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 50%; }

.toggles__toggle:nth-of-type(1):checked ~ .slider__item--first {
  display: grid; }

.toggles__toggle:nth-of-type(1):checked ~ .slider__item--second {
  display: none; }

.toggles__toggle:nth-of-type(1):checked ~ .slider__item--third {
  display: none; }

.toggles__toggle:nth-of-type(2):checked ~ .slider__item--first {
  display: none; }

.toggles__toggle:nth-of-type(2):checked ~ .slider__item--second {
  display: grid; }

.toggles__toggle:nth-of-type(2):checked ~ .slider__item--third {
  display: none; }

.toggles__toggle:nth-of-type(3):checked ~ .slider__item--first {
  display: none; }

.toggles__toggle:nth-of-type(3):checked ~ .slider__item--second {
  display: none; }

.toggles__toggle:nth-of-type(3):checked ~ .slider__item--third {
  display: grid; }

.map {
  width: 560px;
  height: 222px;
  margin-bottom: 76px; }

.map__big {
  position: absolute;
  top: 0px;
  left: -550px;
  width: 960px;
  height: 559px; }

.map__big-close {
  position: absolute;
  top: 22px;
  right: 22px; }

.modal-close {
  border: none;
  background: transparent;
  width: 55px;
  height: 55px;
  background-image: url("../img/modal-close.svg");
  opacity: 0.5; }

.modal-close:hover {
  opacity: 1; }

.modal-close:active {
  opacity: 0.3;
  outline: none; }

.not-shown {
  display: none; }
