@import "mixins.scss";

.about-us__text {
  @include text1530;
}

.about-us__text:first-of-type {
  margin-bottom: 30px;
}

.about-us__text:last-of-type {
  margin-bottom: 70px;
}

.about-us {
  grid-column: 1 / 2;
  position: relative;
}

.about-us__title {
  @include text4748;
}

.about-us::before {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  height: 7px;
  width: 80px;
  background-color: #000000;
}

.about-us__details {
  width: 260px;
}