@import "mixins.scss";

.catalog__sorting {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 140px;
  margin-bottom: 70px;
}

.catalog__title {
  @include text1624;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 23px 0;
}

.catalog__link {
  @include text1418;
  text-decoration: none;
  color: #000000;
  margin-right: 25px;
}

.catalog__link {
  opacity: 0.3;
}

.catalog__link[href]:hover {
  opacity: 0.6;
}

.catalog__link[href]:active {
  opacity: 1;
}

.catalog__link--active {
  opacity: 1;
}

.catalog__sorting-list {
  list-style: none;
  display: flex;
}

.catalog__controls {
  margin-left: auto;
  display: flex;
}

.catalog__direction {
  margin-left: 19px;
  opacity: 0.2;
}

.catalog__direction[href]:hover {
  opacity: 0.4;
}

.catalog__direction:active {
  opacity: 1;
}

.catalog__direction--active {
  opacity: 1;
}

.catalog__direction--up {
  width: 11px;
  height: 10px;
  background: url("../img/icon-up-dir.svg") 0 0 no-repeat;
}

.catalog__direction--down {
  width: 11px;
  height: 10px;
  background: url("../img/icon-down-dir.svg") 0 0 no-repeat;
}