@import "mixins.scss";

.features-nav {
  @include text1824;
  width: 100%;
  letter-spacing: 3.6px;
  
}

.features-nav--header {
  margin: 40px 0 60px 0;
}

.features-nav--header--catalog {
  margin-bottom: 40px;
}

.features-nav--footer {
  width: 460px;
  align-self: center;
  padding-right: 30px;
}

.features-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.features-nav__item {
  margin-right: 35px;
}

.features-nav__item--footer {
  margin-right: 30px;
}

.features-nav__item:last-of-type {
  margin-left: auto;
  margin-right: 0;
}

.features-nav__link {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.features-nav__link:hover {
  opacity: 0.6;
}

.features-nav__link:active {
  opacity: 0.3;
}

.features-nav__link--footer {
  color: #ffffff;
}