@import "mixins.scss";

.features {
  background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
  min-width: 400px;
  display: grid;
  grid-template-columns: 280px 880px;
  grid-template-rows: 40px 40px 40px;
  grid-row-gap: 25px;
  padding-top: 80px;
  padding-left: 140px;
}

.features__text {
  @include text1530;
  width: 480px;
  margin: 0;
}

.features__description {
  display: none;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  margin-right: 140px;
  margin-left: 80px;
  padding-left: 45px;
  // border-left: 7px solid #000000;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: -10px;
}

.features__description-title {
  @include text4748;
  margin-top: 0;
  margin-bottom: 35px;
}



.features__item-label--delivery {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.features__item-label--warranty {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.features__item-label--credit {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.features__item-input {
  display: none;
}

.features__item-input:checked + .features__description {
  display: flex;
}

.features__item-input--delivery:active ~ .features__item-label--delivery {
  background: #000000;
  color: #f7e184;
  width: 360px;
  padding-right: 140px;
}

.features__item-input--warranty:active ~ .features__item-label--warranty {
  background: #000000;
  color: #f7e184;
  width: 360px;
  padding-right: 140px;
}

.features__item-input--credit:active ~ .features__item-label--credit {
  background: #000000;
  color: #f7e184;
  width: 360px;
  padding-right: 140px;
}

.features__description::after {
  position: absolute;
  content: "";
  right: -112px;
  bottom: -40px;
  width: 171px;
  height: 194px;
}

.features__description--delivery::after {
  background: url("../img/delivery.svg") 0 0 no-repeat;
}

.features__description--warranty::after {
  background: url("../img/warranty.svg") 0 0 no-repeat;
}

.features__description--credit::after {
  background: url("../img/credit.svg") 0 0 no-repeat;
}

.features__description::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  background: #000000;
  left: -80px;
  top: -70px;
}

.features__item-label {
  width: 160px;
}