@import "mixins.scss";

.logo {
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.logo--footer {
  color: #ffc600;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}