@import "mixins.scss";

.main-nav {
  @include text1530;
  letter-spacing: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-nav__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}