.manufacturers {
  padding-top: 85px;
}

.manufacturers__pic {
  width: 260px;
  height: 100px;
}

.manufacturers__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 0;
}

.manufacturers__img {
  filter: grayscale(100%);
  opacity: 0.3;
}

.manufacturers__img:hover {
  filter: grayscale(0%);
  opacity: 1;
}