@mixin text1824 {
  font-size: 18px;
  line-height: 24px;
}

@mixin text1530 {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
}

@mixin text4748 {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
}