@mixin text1824 {
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
}

@mixin text1530 {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: 300;
}

@mixin text4748 {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy";
  font-weight: 900;
}

@mixin text1640 {
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy";
  font-weight: 900;
}

@mixin text1418 {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  font-weight: 400;
}

@mixin text1424 {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 300;
}

@mixin text1624 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 900;
}

@mixin text1440 {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans";
  font-weight: 300;
}

@mixin text1624-light {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy";
  font-weight: 300;
}

@mixin text1336 {
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans";
  font-weight: 300;
}