.page-body__wrapper--catalog {
  display: grid;
  // grid-template-rows: 230px 1460px 320px;
  width: 1440px;
  margin: 0 auto;
}

.page-body__wrapper--index {
  display: grid;
  grid-template-rows: 180px 120px 2130px 320px;
  width: 1440px;
  margin: 0 auto;
}