@import "mixins.scss";

.product-search {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-search__goods-list {
  display: none;
  width: 100%;
  background-color: #f7e296;
}

.product-search__goods {
  position: relative;
  @include text1824;
}

.product-search__goods:hover ~ .product-search__goods-list {
  display: grid;
  grid-row: 2 / 3;
  z-index: 2;
}

.product-search__goods::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 20%;
  right: -20px;
  background: url('../img/plus.svg');
  background-size: cover;
}

.product-search__goods-input:checked ~ .product-search__goods-list {
  display: block;
}

.product-search__site-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
  @include text1530;
}

.product-search__site-search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.product-search__site-search-label {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: -30px;
  left: -30px;
}


// .product-search__site-search-label::before {
//   position: absolute;
//   content: "";
//   width: 16px;
//   height: 16px;
//   background-image: url("../img/search.svg");
//   top: -30px;
//   left: -30px;
// }