@import "mixins.scss";

.product__pic {
  width: 360px;
  height: 380px;
  margin: 0 auto 35px;
}

.product__name {
  @include text1824;
  width: 225px;
}

.product__price {
  @include text1624-light;
}

.product__compare {
  @include text1336;
}

.products {
  display: grid;
  grid-template-columns: 400px 400px;
  margin-left: 50px;
  // grid-column-gap: 40px;
  // width: 360px;
}

.product:nth-child(even) {
  grid-column: 2 / 3;
}

.product__to-cart {
  // opacity: 0;
  display: none;
  position: absolute;
  top: 33.333333%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.product__link,
.product__compare {
  color: #000000;
  text-decoration: none;
}

.product__compare {
  @include text1336;
  letter-spacing: 0.13px;
  opacity: 0.5;
}

.product__compare:hover {
  opacity: 1;
}

.product__compare:active {
  opacity: 0.2;
}

.product__description {
  margin: 0 20px 0;
  display: flex;
  justify-content: space-between;
}

.product {
  margin-bottom: 50px;
  position: relative;
}

.product__pic:hover > .product__image {
  opacity: 0.7;
}

.product__pic:hover > .product__to-cart {
  opacity: 1;
  display: block;
}
