@import "mixins.scss";

.slider__item-pic {
  grid-column: 1 / 2;
  margin: auto auto;
}

.slider__item-pic--copter {
  width: 526px;
  height: 334px;
}

.slider__item-pic--selfie {
  width: 384px; 
  height: 486px;
}

.slider__item-pic--fitness {
  width: 345px; 
  height: 485px;
}

.slider__item-image {
  top: 50%;
  transform: translate(-2%, -46%);
  position: relative;
}

.slider__item-description {
  @include text1530;
  color: #464646;
  min-height: 100px;
  margin: 0 0 5px 0;
}

.slider__item-title {
  @include text4748;
  line-height: 56px;
  min-height: 120px;
  letter-spacing: 0.17px;
  margin-bottom: 10px;
}

.slider__item {
  display: none;
  grid-template-columns: 580px 580px;
}

.slider__item--active {
  display: grid;
}

.slider__info {
  grid-column: 2 / 3;
  padding: 105px 40px 85px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.slider__item-table {
  text-align: left;
  @include text1320;
}

.slider {
  position: relative;
}

.slider__info::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 40px;
  width: 100px;
  height: 7px;
  background: #ffffff;
}

.slider__item::before {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 179px;
  font-family: "Gilroy";
  font-weight: 900;
  color: #ffffff;
}

.slider__item--first::before {
  content: "01";
}

.slider__item--second::before {
  content: "02";
}

.slider__item--third::before {
  content: "03";
}

.slider__item-header {
  @include text3648;
}

.slider__item-details {
  margin-bottom: 45px;
}

.slider__item-cell {
  padding-bottom: 5px;
  // padding-right: 15px;
  width: 100px;
}